@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  /* Gray 900 */
  --background-rgb: 249, 250, 251;
  /* Gray 50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .glass-dark {
    @apply bg-gray-900/70 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}